body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-27px;
  width:1547px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:18px;
  width:129px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1995 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1995_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1517px;
  height:748px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:118px;
  width:1517px;
  height:748px;
  display:flex;
}
#u1996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:32px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:571px;
  width:249px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u1997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:54px;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:263px;
  width:203px;
  height:54px;
  display:flex;
  font-size:14px;
  color:#FF3399;
}
#u1998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:80px;
  width:570px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u1999 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1999_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:308px;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:960px;
  width:668px;
  height:308px;
  display:flex;
}
#u2000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:942px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:898px;
  width:942px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u2001 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2001_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:296px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:960px;
  width:648px;
  height:296px;
  display:flex;
}
#u2002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1547px;
  height:794px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1349px;
  width:1547px;
  height:794px;
  display:flex;
}
#u2003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1194px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:1299px;
  width:1194px;
  height:33px;
  display:flex;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:24px;
}
#u2004 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2004_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
